.container {
    /* width: 575px;
    height: 825px;
  
    background-color: #797978;
    padding-left: 30px; */
    display: flex;
  }

  .calculator-container,
  .suggestions-container {
    width: 50%;
    height: 70vh;
    /* overflow-y: auto; */
    padding: 20px;
  }

  /* .calculator-container {
    background-color: #f0f0f0; /* Example background color for calculator 
  }
  */
  
  .suggestions-container {
    background-color: #e0e0e0; /* Example background color for suggestions */
  }

  

  #height,
  #weight {
    width: 150px;
    height: 25px;
    margin-top: 30px;
  }
  .calculator-weight-guide,
  #suggestions-weight-guide {
    margin-left: 75px;
    margin-top: 25px;
  }
  
  #results {
    font-size: 35px;
    margin-left: 90px;
    margin-top: 20px;
    color: rgb(172, 12, 12);
  }
  
  /* button {
    width: 150px;
    height: 35px;
    margin-left: 90px;
    margin-top: 25px;
    background-color: #fff;
    padding: 1px 30px;
    border-radius: 8px;
    color: #212121;
    text-decoration: none;
    border: 2px solid #212121;
  
    font-size: 25px;
  } */
  
  h1 {
    padding-left: 15px;
    padding-top: 25px;
    
  }


  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
  }
  
  .content img {
    object-fit: cover;
    margin: 10px;
    height: 300px;
    width: 300px;
    max-width: 100%;
  }
  
  button {
    padding: 10px 30px;
    font-size: 22px;
    background-color: transparent;
    color: rgb(199, 170, 76);
    border: 2px white solid;
  }
  
  button:hover {
    color: black;
    background-color: aliceblue;
    cursor: pointer;
  }
  